:root{
    --bg-body: #151515;
    --bg-contact: #242424;
    --green: #4EE1A0;
    --grey: #D9D9D9;
    --white: #ffffff;
    --invalid-error:  #ff6f5b;

}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}